*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation Bar */
  
.navigationBar {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100vw;
    background-color: rgb(37, 37, 37);
}
  
.navigationBar ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
}
  
.navigationBar li {
    display: inline;
}
  
.navigationBar img {
    width: 50px;
    padding: 5px 0 5px 10px;
}
  
.navigationBar ul li a {
    color: rgb(101, 255, 252);
    text-decoration: none;
    padding: 20px 8px 20px 8px;
}
  
.navigationBar ul li a:hover {
    background-color: rgba(71, 69, 69, 0.5);
    color: rgb(210, 247, 246);
    border-radius: 4px;
}
  
#active {
    background-color: rgb(135, 248, 246);
    color: rgb(38, 39, 39);
    border-radius: 4px;
}
  
@media screen and (max-width: 900px) {
    .navigationBar ul li {
      font-size: 15px;
    }
    .navigationBar ul li a {
      padding: 18px 6px 18px 6px;
    }
    .navigationBar img {
      width: 45px;
    }
  }
  
@media screen and (max-width: 600px) {
    .navigationBar ul li {
      font-size: 13px;
    }
    .navigationBar ul li a {
      padding: 16px 4px 16px 4px;
    }
    .navigationBar img {
      width: 40px;
    }
}
  
@media screen and (max-width: 450px) {
    .navigationBar ul li {
      font-size: 11px;
    }
    .navigationBar ul li a {
      padding: 13px 3px 13px 3px;
    }
    .navigationBar img {
      width: 35px;
    }
}
  
@media screen and (max-width: 380px) {
    .navigationBar ul li {
      font-size: 10px;
    }
    .navigationBar ul li a {
      padding: 10px 3px 10px 3px;
    }
    .navigationBar img {
      width: 33px;
    }
}

/* Navigation Bar */

/* footer */

.container{
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  background-color: rgb(44, 44, 44);
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col ul{
  list-style: none;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: 30px;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: rgb(47, 231, 228);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}

.footer-col ul a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: rgb(44, 44, 44);
  background-color: #ffffff;
  
}


.container-2 {
  width: 100vw;
  text-align: center;
  background-color: rgb(37, 37, 37);
  padding: 5px 0;
  
}

.container-2 p {
color:rgba(187, 187, 187, 0.6);
font-size: 13px;
}

@media(max-width: 980px){
  .footer-col {
      width: 50%;
      margin-bottom: 30px;
  }
}

@media(max-width: 574px){
  .footer-col {
      width: 100%;
  }
  .container {
      text-align: center;
  }
  .footer-col h4::before {
      left: 45%;
      bottom: -10px;
  }
}
/* footer */



/* contact us page  */

.section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(37, 37, 37);

}

.section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgb(135, 248, 246);
}

.main-container {
  position: relative;
  min-width: 1100px;
  min-height: 550px;
  display: flex;
  z-index: 1000;
}

.contactinfo {
  position: absolute;
  top: 40px;
  width: 350px;
  height: calc(100% - 80px);
  background: rgb(37, 37, 37);
  z-index: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

.contactinfo h2 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}

.info {
  position: relative;
  margin: 20px -10px;
}

.info li {
  position: relative;
  list-style: none;
  display: flex;
  margin: 20px 0;
  cursor: pointer;
  align-items: flex-start;
}

.info li span:nth-child(1){
  width: 30px;
  min-width: 30px;
}

.info li span:nth-child(1) i {
  font-size: 20px;
  color: #bbbbbb;

}

.info li span:nth-child(2){
  color: #bbbbbb;
  margin-left: 5px;
  font-weight: 300;
  
}

.info li:hover span:nth-child(2),.info li:hover span:nth-child(1) i {
  color: #ffffff;
}

.social-media {
  position: relative;
  display: flex;
}

.social-media li {
  list-style: none;
  margin-right: 15px;
}

.social-media li a {
  text-decoration: none;

}

.social-media li a i {
  color: #bbbbbb;
  font-size: 25px;
  margin-right: 10px;
  
}

.social-media li a i:hover {
  color: #ffffff;
}

.contactForm {
  position: absolute;
  padding: 70px 50px;
  background-color: #ffffff;
  margin-left: 150px;
  padding-left: 250px;
  width: calc(100% - 150px);
  height: 100%;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}

.contactForm h2 {
  color:rgb(37, 37, 37);
  font-size: 24px;
  font-weight: 500;
}

.contactForm .formBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}


.formBox .inputBox {
  position: relative;
  margin: 0 0 35px 0;
}

.formBox .inputBox.w50 {
  width: 47%;
}

.formBox .inputBox.w100 {
  width: 100%;
}

.inputBox input, .inputBox textarea {
  width: 100% !important;
  padding: 5px 0;
  resize: none;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  border: none;
  border-bottom: 1px solid #777;
  outline: none;
}


.inputBox textarea {
  min-height: 120px;
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  transition: 0.3s;
  pointer-events: none;
}

.inputBox input:focus ~ span, .inputBox textarea:focus ~ span,
.inputBox input:valid ~ span, .inputBox textarea:valid ~ span {
  transform: translateY(-20px);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgb(47, 231, 228);
}

.inputBox input[type="submit"]{
  position: relative;
  cursor: pointer;
  background: rgb(37, 37, 37);
  color: #ffffff;
  border: none;
  max-width: 150px;
  padding: 12px;
}

.inputBox input[type="submit"]:hover {
  background: rgb(34, 167, 164);
}

/* contact us page  */